<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org">

<aside class="Hui-aside" th:fragment="menu">

    <div class="menu_dropdown bk_2">

        <dl id="menu-article" th:each="menu,menuStat : ${session.menu_}">
            <dt th:class="${session.parentMenu==menu.menu.type?'selected':''}"><i class="Hui-iconfont">&#xe616;</i><span
                    th:text="${menu.menu.name}"></span><i
                    class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li th:class="${session.currentMenu==childMenu.url?'current':''}"
                        th:each="childMenu,childMenuStat:${menu.menus}"><a
                            th:href="${#request.getContextPath()}+${childMenu.url}"
                            th:title="${childMenu.name}" th:text="${childMenu.name}"></a></li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
    </div>
</aside>
</html>