<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="meta">
    <meta charset="utf-8"/>

    <title>Metronic | Inner Page</title>
    <meta name="description" content="Blank inner page examples">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    <script src="${/lib/webfont.js}"></script>
    <script>
        WebFont.load({
            google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->

    <!--begin::Base Styles -->


    <link href="assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css"/>
    <!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

    <link href="assets/demo/demo11/base/style.bundle.css" rel="stylesheet" type="text/css"/>
    <!--RTL version:<link href="assets/demo/demo11/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

    <!--end::Base Styles -->

    <link rel="shortcut icon" href="assets/demo/demo11/media/img/logo/favicon.ico"/>
</head>
</html>